@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "@toolwind/corner-shape";

body {
  @apply m-0 bg-stone-100;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  input,
  textarea {
    @apply block w-full rounded-md px-3 py-1.5 text-base text-white border border-zinc-700 bg-zinc-800;
  }
}
