@import 'tailwindcss';
@plugin "@toolwind/corner-shape";

body {
  @apply bg-stone-950 text-stone-50 antialiased min-h-full;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  input,
  textarea {
    @apply block w-full rounded-md px-3 py-1.5 text-base text-white border border-zinc-700 bg-zinc-800;
  }
}
